@charset "UTF-8";


#id_panel_h3_VPanel {
    /*  text-align: center;*/
    font-size: 22px;
}

#navBar {
    border-radius: 0;
}

#id_divFerramenta {
    border-bottom: 1px solid #337ab7; 
    background-color: #EEEEEE; 
    padding: 5px;
}

#id_formGroup {
    height: 46px;
    border-radius: 6px;
    font-size: 18px;
}

