@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);


#id_panel_h3_VPanel {
    /*  text-align: center;*/
    font-size: 22px;
}

#navBar {
    border-radius: 0;
}

#id_divFerramenta {
    border-bottom: 1px solid #337ab7; 
    background-color: #EEEEEE; 
    padding: 5px;
}

#id_formGroup {
    height: 46px;
    border-radius: 6px;
    
}

#btn_painel_limpar {
    float: left;
    
}

#btn_painel_fechar {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#btn_painel_fechar:hover {
     color: #333;
    background-color: #ccc;
    border-color: #adadad;
}

.fundoLinhaPainel {
    background: #F0F4C3;
    font-weight: bold; 
}


/* Estilização da tela de login */

.estilizaInputLogin {
    margin-bottom: 30px;
}

#form_login { 
    box-shadow: 10px 10px 10px #888888;  
}

.divBtnEntrar {
    text-align: center;
}

#div_btn_entrar {
    margin-bottom: 20px;
}

#btn_entrar {
    width: 130px;
}

#id_h1_bemVindo {
    text-align: center; 
    margin-top:90px;
}

#id_p_userLogado {
    text-align: center;
}



/* Fim - Estilização da tela de login */




